<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>RESPONSIVE PEOPLE DESIGN</title>
   
  </head>
  <body>
    <div class="jumbotron">
        <div class = "container text-center">
        <h1 class="display-6">SILICON PRIVATE LIMITED</h1>
        <h6  class="display-7">We Manufacture High Quality Electronic Products</h6>
        </div>
    </div>
    <div class="container">
        
       <div class="row text-center">
           <div class="col-12">
           <h6 class="display-6">PEOPLES</h6>
           </div>
       </div>
    <div class="row text-center">
        <div class="card col-12 ">
            <img class="card-img-top" src="/static/img/people1.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">JOHN</h5>
                <p class="card-text">CEO</p>
                
            </div>
        </div>
        <div class="card col-12 ">
            <img class="card-img-top" src="/static/img/people2.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">MARY</h5>
                <p class="card-text">SALES ASSOCIATE</p>
                
            </div>
        </div>
        <div class="card col-12 ">
            <img class="card-img-top" src="/static/img/people3.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">GEMMA</h5>
                <p class="card-text">SALES MANAGER</p>
               
            </div>
        </div>
        <div class="card col-12 ">
            <img class="card-img-top" src="/static/img/people4.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">SMITH</h5>
                <p class="card-text">ACCOUNT MANAGER</p>
                
            </div>
        </div>
        <div class="card col-12 ">
            <img class="card-img-top" src="/static/img/people5.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">TOBIAS</h5>
                <p class="card-text">ADMINISTRATIVE ASSISTANT</p>
                
            </div>
        </div>
        <div class="card col-12 ">
            <img class="card-img-top" src="/static/img/people6.jpg" alt="card image cap">
            <div class="card-body">
                <h5 class="card-title">MAYA</h5>
                <p class="card-text">EMPLOYEE</p>
               
            </div>
        </div>
        
        
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p>Copyright © 2021 Silicon Private Limited, Developed by PRIYADARSHINI.</p>
        </div>
    </div>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>